.instagram__cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "Merienda", cursive;
}

.instagram__card {
  width: 100%;
  background-color: white;
  padding: 15px;
  box-shadow: -3px 3px 26px 5px rgba(130, 134, 143, 0.25);
  border-radius: 6px;
}

.instagram__card h3 {
  margin: 0 0 25px 0;
}

.rose-insta {
  color: var(--price-color);
}
.insta-wrap {
  margin-top: 75px;
  margin-bottom: 75px;
}

.insta-wrap h3 {
  font-family: "Merienda", cursive;
}

.insta-footer {
  margin: 60px auto 25px auto;
  max-width: 550px;
  text-align: center;
}

.instagram__button {
  background-color: var(--price-color);
  color: white;
  padding: 15px 25px;
  text-align: center;
  border-radius: 15px 50px 50px 50px;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  margin-top: 30px;
  display: inline-block;
  transition:  background-color .3s ease-in-out;
}

.instagram__button svg {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  vertical-align: -6px;
}

.instagram__button:hover {
    background-color: var(--button-color);
}

@media (min-width: 600px) {
  .instagram__card {
    padding: 30px;
  }
}

@media (min-width: 900px) {
  .instagram__card {
    width: 33.333%;
  }
  .instagram__cards {
     flex-direction: row;
  }
}
