.wedding-cake-tasting {
    padding-top: 85px;
    padding-bottom: 85px;
}

.wedding-cake-tasting__main {
    display: flex;
    flex-direction: column;
}

.wedding-cake-tasting__image{
    height: auto;
}

.wedding-cake-tasting__picture {
    width: 70px;
    height: 14px;
}

.wedding-cake-tasting__title {
    font-size: 34px;
    padding-top: 50px;
    padding-bottom: 15.5px;
    line-height: 55.9px;
}

.wedding-cake-tasting__description {
    margin: auto;
    padding-top: 20px;
    font-size: 17px;
    line-height: 28.9px;
}

.wedding-cake-tasting__appointment-buttons {
    margin-top: 50px;
}

.wedding__button {
    background-color: var(--button-color-passive);
    color: var(--container-color);
    padding: 15px 25px;
    text-align: center;
    border-radius: 15px 50px 50px 50px;
    text-decoration: none;
    font-family: "Source Sans Pro",sans-serif;
    font-weight: 600;
    transition:  background-color .2s ease-in-out;
}

.wedding__button:hover {
    background-color: var(--button-color);
}

@media (min-width: 768px) {
    .wedding-cake-tasting__main {
        display: flex;
        flex-direction: row;
    }

    .wedding-cake-tasting__text {
        margin: 0 30px;
    }

    .wedding-cake-tasting__title {
        font-size: 38px;
        padding-top: 5px;
        padding-bottom: 15.5px;
        line-height: 55.9px;
    }
}

@media (min-width: 992px) {
    .wedding-cake-tasting__title {
        font-size: 43px;
        padding-bottom: 25px;
    }

    .wedding-cake-tasting__description {
        padding-top: 26px;  
    }

    .wedding-cake-tasting__appointment-buttons {
        margin-top: 54px;
    }
}